/deep/ .owl-item {
    display: flex;
    justify-content: center;
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    transition: all 300ms ease;
    opacity: 0.8;
}

/deep/ .center {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
    transform: scale(1);
}
