$fontColour: orange;
@mixin app-font {
    font-family: Averia;
    font-weight: normal;
    font-style: normal;
    color: $fontColour;
}

@font-face{
    font-family: "Averia";
    src: url(/Averia-Regular.ttf) format("truetype");
}

@mixin toggle-button {
    .toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 200px;
        background-color: grey;
        position: absolute;
        right: 100px;
        top: 50px;
        cursor: pointer;
    }
}

.main {
    padding: 1em;
    text-align: center;
    display: block;
    @include app-font;
    @include toggle-button;
}

h1 {
    font-size: 70px;
}
