$fontColour: orange;
@mixin app-font {
    font-family: Averia; 
    font-weight: normal; 
    font-style: normal;
    color: $fontColour;
}

@font-face{
    font-family: "Averia";
    src: url(/Averia-Regular.ttf) format("truetype");   
}

.main {
    padding: 1em;
    text-align: center;
    display: block;
    @include app-font;
}

.card-wrapper {
    display: flex;
    justify-content: center;

    .edge {
        opacity: .5;
        transform: scale(0.95);
    }
}

h1 {
    font-size: 70px;
}